<div class="row" >
<div class="col-md-5 col-lg-6 col-sm-6 col-xs-12">
<br>
<div class="panel panel-primary">
<div class="panel-heading">
<h5>New service</h5>
</div>

<div class="panel-body" ng-controller="bankDetailsController" >
<form class ="">

					<input id="orgname" name="name" class="form-control input-area" ng-model="org_name" placeholder="Service Name" required tabindex="1" type="text" > 
					                         
					                            
					<!-- <input id="branch" class="form-control input-area" name="email" ng-model= "branch_name" placeholder="Number of counters" required type="text"> -->
							
                    <input class="btn btn-danger input-area" type="submit" value="Register" onclick="vas()" style="width:100%">
                 	
</form>
<!-- <p>{[services]}</p> -->
</div>
</div>
</div>
<div class="col-md-5 col-lg-6 col-sm-6 col-xs-12">
<br>
<div class="panel panel-primary">
<div class="panel-heading">
<h5>Services</h5>

</div>
<div class="panel-body">
<p ng-repeat="x in services">{[x]}</p>
</div>
</div>
</div>
</div>
